.wrapper {
	width: 800px;
	margin: 0 auto;
}

.transform,
.transition,
.animation {
	border: 1px solid #999;
	margin: 20px 0;
	padding: 0 0;
}

.box {
	width: 200px;
	height: 200px;
}

.b1 {
	background-color: #80e1d4;
	/*blue*/
}

.b2 {
	background-color: #9696ff;
	/*orange*/
}

.b3 {
	background-color: #85e1f4;
	/*green*/
}

.b4 {
	background-color: #e89380;
	/*purple*/
}
/*------------------------------
           Transition
-------------------------------*/

.transition .b1{
	transition: width 1000ms ease-in-out;
}
.transition .b1:hover{
	width: 400px;
	height: 150px;
}
.transition .b2{
	transition: width 500ms, height 1000ms;
	transition-delay: .5s;
}
.transition .b2:hover{
	width: 300px;
	height: 300px;
}
.transition .b3{
	transition: all .5s .3s linear;
}

.transition .b3:hover{
	transform: rotate(30deg);
}

.transition .B4{
	transition: all 1s cubic-bezier(.48,-0.45,.59,1.35);
}
 .transition .b4:hover{
	background-color: #9696ff;
	border-radius: 50%;
	transform: rotate(90deg);
 }
 /*------------------------------
 			Transform			
-------------------------------*/
.transform .box{
	transition: all .5s;
}
.transform .b1{
	transform: rotate(60deg);
	transform-origin: top left;
}
.transform .b1:hover{
	transform: rotate(0);
}
.transform .b2:hover{
	transform: scale(1.5);
}
.transform .b3:hover{
	transform: skewY(20deg);
	transform-origin: top left;
	transform: translate(30px, 30px);
}

/*--------------------------------
               Animation----------
--------------------------------*/

@keyframes changecolor{
from{
	background-color: black;
}
 to{ 
		background-color: white;
	}
}
	.animation .b1{
		animation-name: changecolor;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-iteration-count: 3;
		animation-delay: 2s;
	}

@keyframes moveAround{
	0%,100%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(200px,0);
	}
	50%{
		transform: translate(200px,200px);}
	75%{
		transform: translate(0,200px);
	}
}

.animation .b2{
	animation: moveAround 4s 2s infinite alternate ease-in-out;
}
@keyframes flyout{
	0%{
		transform: translateX(0) scale(.5) rotate(0);
	}
	100%{
		transform: translateX(600px) scale(1) rotateX(180deg);
	}
}

.animation .b3{
	animation: flyout 3s 1s infinite alternate;
}

.animation .b4{
	animation: flyout 3s 1s infinite alternate;
}
.animation .b4{
	animation: flyout 3s 1s infinite alternate cubic-bezier(.48,-0.45,.59,1.35);
}
.animation .b4:hover{
	animation-play-state: paused;
}